@import '../main';

.about{
    background-color: white;
    width: stretch;
    height: stretch;
    color: $secondaryColor;
    font-weight: bolder; 
    font-size: .75em;
    animation: slide-in 1s;    
    & a{
        color:$secondaryColor;
    }
    
    @keyframes slide-in {
        from{
            transform: translate(-50vw);
        }
        to{
            transform: translate(0);
        }
    }
    
    &>.container{
        display: grid;
        width: stretch;
        height: 100vh;
        grid-template-columns:  .2fr repeat(6, 1fr) .5fr .2fr;
        grid-template-rows: .2fr repeat(3, 1fr) .2fr; 
        grid-template-areas: 
            ". hd hd hd ts nv nv nv ."
            ". ls ls ls rs rs rs s ."
            ". ls ls ls rs rs rs s ."
            ". ls ls ls rs rs rs s ."
            ". bl bl bc bc bc br br.";
        &>header>a{
            color:$primaryColor;
        }
        &>.left{
            grid-area: ls;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-transform: capitalize;
            text-align: center;
            &>img{
                width: 25vw;
            }
            &>h1{
                margin: .3em;
            }
        }
        &>.right{
            grid-area: rs;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-transform: capitalize;
            text-align: center;
            &>button{
                padding: .2em 5em;
                margin: 1em;

            }            
        }
    }
}