@import '../../pages/main';

.loader{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:stretch;
    height: stretch;
    background-color: $secondaryColor; 
    color: #FFF;
}

svg{
    width:15em;
}

.cls-2, .cls-3 {
    fill: none;
    stroke-dasharray: 800;
    stroke-dashoffset:0;
    stroke-width: 10px;
}

.cls-2 {
    stroke: #2caef9;
    animation: stroker 5s linear infinite;
}

.cls-3 {
    stroke: #fff;
    animation: stroker 5s 2.5s linear reverse infinite;
}

// Animations 
@keyframes stroker{               
    0% {
     stroke-dashoffset:0;   
    }
    50% {
        stroke-dashoffset:800;
    }
    100% {
        stroke-dashoffset:0;        
    }
}
