@import '../main';

.homepage{
    // background: url('../../assets/bg.png');
    background-color: $secondaryColor;
    background-size: cover;
    width: stretch;
    height: 100vh;
    color: white;
    font-weight: bolder; 
    font-size: .72em;
    &>.container{
        // background: radial-gradient(circle, rgba(42, 150, 213, 1) , transparent 30%);
        width: stretch;
        height: 100vh;
        display: grid;
        grid-template-columns:.2fr repeat(11, 1fr) .2fr;
        grid-template-rows: .5fr repeat(6, 1fr) .5fr;
        
        grid-template-areas: 
            ". hd hd nv nv nv nv nv nv nv nv nv ."
            ". fs fs fs fs fs fs fs fs fs fs fs ."
            ". ls ls mn mn mn mn mn mn mn rs rs ."
            ". ls ls mn mn mn mn mn mn mn rs rs ."
            ". ls ls mn mn mn mn mn mn mn rs rs ."
            ". ls ls mn mn mn mn mn mn mn rs rs ."
            ". ls ls pb pb pb pb pb pb pb rs rs ."
            ". bl bl bl bc bc bc bc bc br br br .";

        &>header{
            color: $primaryColor;
        }   

        &>section{
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: mn;
    
            &>.background-image{
                width: 30vw;
            
             }
            @keyframes abstract {
                from{
                    transform: rotateZ(0deg);
                }                
                to{
                    transform: rotateZ(360deg);
                }
            }
        }

        &>.main{
            grid-area: mn;
            z-index: 1;
            animation: main 5s linear infinite;
            width: 45vw;
            align-self: flex-end;
            justify-self: center;
            @keyframes main{
                0%{transform: translateY(-10px)}
                50%{transform: translateY(0px)}
                100%{transform: translateY(-10px)}
            }
        }

        &>.left{
            grid-area: ls;
            display: flex;
            align-items: center;
            overflow: hidden;
            animation: left-in 3s ease-out -1s forwards;
            @keyframes left-in {
                from{transform:translate(-50px)}
                to{transform: translate(0)}
            }
            &>#leftSlider{
                display:flex;
                justify-content: center;
                align-items: center;
                flex-direction:row;
                &>.leftSlide{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width:20vw;
                    & *{
                        margin: .1em;
                    }
                    &>img{
                        width: 10vw;  
                    }
                    &>h2{
                        color: $primaryColor;
                    }
                    &>h3{
                        font-style: italic;
                    }
                }
            }
        }

        &>.right{
            grid-area: rs;
            display:flex;
            align-items: center;
            overflow: hidden;
            animation: right-in 3s ease-out -1s forwards;
            @keyframes right-in {
                from{transform:translate(50px)}
                to{transform: translate(0)}
            }
            &>.rightSlider{
                display:flex;
                flex-direction: row;
                flex-wrap: nowrap;
                &>div{
                    width:22em;
                    height: fit-content;
                    & a{
                        color: $primaryColor;
                        text-decoration: none;
                    }
                    &>h2{
                        margin:.5em .1em;
                        color: $primaryColor;
                        text-transform: uppercase;
                    }
                    & ul{
                        list-style-type: none;
                        margin: 0em;
                        padding: 0em;
                        height: fit-content;
                        & li{
                            display: inline-flex;
                            &:before{
                                margin:.5em;
                                content: '';
                                background-position: center center;
                                vertical-align: top;
                                display: inline-block;
                                height: 1em;
                                width: 1em;
                                background: url('../../assets/listMarker.png') no-repeat;
                                background-size: 1em 1em;
                                
                            }
                            &>div{
                                display: inline;
                                &>*{
                                    margin: .5em;
                                }
                                &>h4{
                                    text-transform: uppercase;
                                }
                            } 
                        }
                    }
                }
            }
        }

        
        &>.bottomCenter{
            grid-area: bc;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primaryColor
        }

        &>.btn{
            grid-area: pb;            
            display:flex;
            justify-content: center;
            align-items: center;
            & button{
                padding: .5em 1.5em;
                color:white;
                &:hover{
                    color: $primaryColor;
                    border-color: $primaryColor;
                    cursor: pointer;
                }


            
            }
        }
    }
}