.homepage {
  background: radial-gradient(circle, rgba(42, 150, 213, 0.7), #21252B 35%);
  background-color: #21252B;
  background-size: cover;
  width: stretch;
  height: stretch;
  color: white;
  font-weight: bolder;
  font-size: .75em; }
  .homepage:hover {
    filter: blur(20); }
  .homepage > .container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 30px 3fr 10fr 3fr 30px; }
    .homepage > .container > header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-transform: uppercase;
      grid-column: 2/3;
      grid-row: 1/2;
      padding: auto;
      color: #2CAEF9;
      cursor: pointer;
      animation: top 3s forwards -1s; }
    .homepage > .container > nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-transform: uppercase;
      grid-column: 3/5;
      grid-row: 1/2;
      animation: top 3s forwards -1s; }
      .homepage > .container > nav > a {
        text-decoration: none;
        padding: 0 0 0 1em;
        cursor: pointer; }
        .homepage > .container > nav > a:hover {
          color: #2CAEF9; }
@keyframes top {
  from {
    transform: translateY(-100px); }
  to {
    transform: translateY(0); } }
    .homepage > .container > section {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-row: 2/3;
      grid-column: 3/4; }
      .homepage > .container > section > .background-image {
        width: 30em; }
@keyframes abstract {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }
    .homepage > .container > .main {
      grid-row: 2/3;
      grid-column: 3/4;
      z-index: 1;
      margin: auto;
      animation: main 5s linear infinite;
      width: 55em; }
@keyframes main {
  0% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-10px); } }
    .homepage > .container > .left {
      grid-row: 2/3;
      grid-column: 2/3;
      display: flex;
      align-items: center;
      overflow: hidden;
      animation: left-in 3s ease-out -1s forwards; }
@keyframes left-in {
  from {
    transform: translate(-50px); }
  to {
    transform: translate(0); } }
      .homepage > .container > .left > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row; }
        .homepage > .container > .left > div > div {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 20vw; }
          .homepage > .container > .left > div > div * {
            margin: .1em; }
          .homepage > .container > .left > div > div > img {
            width: 12em; }
          .homepage > .container > .left > div > div > h2 {
            color: #2CAEF9; }
          .homepage > .container > .left > div > div > h3 {
            font-style: italic; }
    .homepage > .container > .right {
      grid-column: 4/5;
      grid-row: 2/3;
      display: flex;
      align-items: center;
      overflow: hidden;
      animation: right-in 3s ease-out -1s forwards; }
@keyframes right-in {
  from {
    transform: translate(50px); }
  to {
    transform: translate(0); } }
      .homepage > .container > .right > .rightSlider {
        display: flex;
        flex-direction: row; }
        .homepage > .container > .right > .rightSlider > div {
          width: 22em; }
          .homepage > .container > .right > .rightSlider > div > h3 {
            color: #2CAEF9;
            text-transform: uppercase; }
          .homepage > .container > .right > .rightSlider > div ul {
            list-style-type: none;
            margin: 0em;
            padding: 0em; }
            .homepage > .container > .right > .rightSlider > div ul li {
              display: inline-flex; }
              .homepage > .container > .right > .rightSlider > div ul li:before {
                margin: .3em;
                content: '';
                background-position: center center;
                vertical-align: top;
                display: inline-block;
                height: 1.5em;
                width: 1.5em;
                background: url("../../assets/listMarker.png") no-repeat;
                background-size: 1.5em 1.5em; }
              .homepage > .container > .right > .rightSlider > div ul li > div {
                display: inline; }
                .homepage > .container > .right > .rightSlider > div ul li > div > * {
                  margin: .3em; }
                .homepage > .container > .right > .rightSlider > div ul li > div > h4 {
                  text-transform: uppercase; }
    .homepage > .container > .btn {
      grid-row: 2/3;
      grid-column: 3/4;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 3em; }
      .homepage > .container > .btn > button {
        width: fit-content;
        height: fit-content;
        padding: .5em 1.5em;
        text-transform: uppercase;
        font-weight: bolder;
        color: white;
        background-color: transparent;
        border: .15em solid white; }
        .homepage > .container > .btn > button:hover {
          color: #2CAEF9;
          border-color: #2CAEF9;
          cursor: pointer; }

/*# sourceMappingURL=style.css.map */
