$primaryColor : #2CAEF9;
$secondaryColor : #21252B;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    & #app{
        width:stretch;
        height: stretch;
    }
    & *{
        font-family: 'Roboto', sans-serif;
    }
    margin:0;
    padding: 0;

}

@media screen and (max-width: 1000px){
    * {
        font-size: .95em; 
    }
}