@import '../../pages/main';

header{
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    text-transform: uppercase;
    grid-area: hd;
    padding: auto;
    cursor: pointer;
    animation: top 3s forwards -1s;
    &>a{
        color: $primaryColor;
    }
}